.box {
    max-width: 100%;
}

.root {
    flex-grow: 1;
  }
.menuButton {
    margin-right: 20px0;
  }
.title {
    flex-grow: 1;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    
  }

.paper {
    padding: 20px;
    text-align: center;
    color: #FFF;
    flex: 1 0 auto;
    margin: 10px
  }
.button {
    color: #FFF;
    background-color: transparent;
    border: none;
}
.toolbar {
    background-color: rgba(255, 255, 255, 0.2);
}