.optionsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #091242;
}